/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ag-grid-community/styles/ag-grid.css';
@import '../node_modules/ag-grid-community/styles/ag-theme-quartz.css';


ag-charts {
    display: block;   
    margin: 0 auto;  
    width: 50%;   
    height: 500px;  
  }

  ag-grid-angular {
    display: block;   
    margin: 0 auto; 
    width: 40%;
  }
  
  #espacio {
    height: 100px;
  }